body{
  font-family: 'Roboto', sans-serif;
  color: #525252;
}
.container{
  width: 80%;
}
.row{
  width: 90%;
  margin: 0 auto;
}
hr{
  width: 90%;
}
hr.styled{
  border-top: 1px solid #8c8b8b;
	text-align: center;
  width: 80%;
}
hr.styled:after{
  content: '?!';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: white;
	color: #8c8b8b;
	font-size: 12px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}
.logo{
  font-size: 50px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.homeLink{
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.decorator{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 35px;
}
.col-sm-2{
  text-align: center;
}
.btn{
  border: 3px solid #525252;
  background-color: white;
  color: #525252;
  font-weight: bolder;
}
