<div class="row">
  <div class="col-sm-8">
    {{#each model as |question|}}
      {{question-tile question=question}}
    {{/each}}
  </div>
  <div class="col-sm-2">
    {{new-question saveQuestion="saveQuestion"}}
  </div>
</div>
